body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cm-line {
  text-align: start;
  color: white;
}

.cm-editor {
  max-height: 500px;
  overflow: auto;
}

.ͼ2 .cm-content {
  padding: 0;
}

.ͼ1 .cm-gutters {
  background-color: transparent;
}

.ͼ1 .cm-foldPlaceholder {
  background-color: #1D1E22;
}